click==7.1.2
dataclasses==0.6
fastapi==0.54.2
h11==0.9.0
httptools==0.2.0
joblib==1.1.1
numpy==1.23.3
pandas==1.4.1
pydantic==1.5.1
python-dateutil==2.8.1
python-multipart==0.0.5
pytz==2020.1
six==1.14.0
scikit-learn==1.2.2
starlette==0.13.2
threadpoolctl==2.0.0
uvicorn
#uvloop==0.14.0
websockets==8.1
streamlit
